name: Update README

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.REPO_TOKEN }}
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Run script
        run: python list_repos.py
      - name: Git commit and push
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git add -A
          git commit -m "Update README" || exit 0
          git push
